*{
        box-sizing: border-box;
      }
      
      .skills-container {
        width: 100%;
        background-color: hsla(0, 7%, 39%, 0.316);
      }
      
      .skills {
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
        color: rgb(17, 2, 2);
      }
      
      .html {
        width: 60%;
        background-color: #122aad;
      }
      
      .css {
        width: 40%;
        background-color: #d214d8;
      }
      
      .js {
        width: 20%;
        background-color: #1cab1f;
      }
      
      .Bootstrap {
        width: 50%;
        background-color: #b49e34;
      }
      
      .Photoshop {
        width: 20%;
        background-color: #122aad;
      }
      
      .Illustrator {
        width: 20%;
        background-color: #d214d8;
      }
      
      .Design {
        width: 30%;
        background-color: #1cab1f;
      }
      
      .Canva {
        width: 50%;
        background-color: #b49e34;
}