*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}
.main-banner{
    height: 100%;
	position: relative;
	display: table;
    width: 100%;
    background-size: contain ;
	/* text-align: center; */
    background: url('/img/background_login.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    background-size: cover;

}
.wrap-tbl {
    display: table;
    width: 400px;
    height: 220px;
    background-color: #ffe6cc;
    border: solid 1px lightgray;
  }
  .wrap-tbl > span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }
  img {
    display: block;
    max-width:300px;
    max-height:200px;
    width: auto;
    height: auto;
  } 
  .loginError> span{
    font-size: 15px;
    line-height: 14px;
    color: #f34624;
    margin-left: 30px;
} 
.loginError{
    font-size: 12px;
    color: #f34624;
}
.btn-outline-info {
    display: block;
    margin: 0 auto;
}
.registerError{
    font-size: 12px;
    color: #f34624;
   
}
.mb-4{
    margin: auto;
}
.email{
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  } 
  .pass
  {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0.375rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }