.nav-link {
    padding: 0;
    font-size: 1rem;
    line-height: 2.5rem;
    color: inherit;
    
}
.site-nav{
    float: right;
}
.header-bio .nav-link{
    font-size: 1.25rem;
}
.cover {
    height: 500px;
}
.cover > img {
    object-fit: cover;
    width: auto;
}
img, svg {
    vertical-align: middle;
}
.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}
.shadow-1-strong {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2)!important;
}
.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
} 
.nav-item + .nav-item {
    margin-left: 1rem;
}