.nav-link {
    padding: 0;
    font-size: 1rem;
    line-height: 2.5rem;
    color: inherit;
    
}
.site-nav{
    float: right;
}
.header-bio .nav-link{
    font-size: 1.25rem;
}
.cover {
    height: 500px;
}
.cover > img {
    object-fit: cover;
    width: auto;
}
img, svg {
    vertical-align: middle;
}
.mask {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-attachment: fixed;
}
.shadow-1-strong {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.25),0 3px 10px 0 rgba(0,0,0,.2)!important;
}
.bg-image {
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
} 
.nav-item + .nav-item {
    margin-left: 1rem;
}
.bg-secondary {
    background-color: #b23cfd!important;
}
.timeline-card {
    position: relative;
    margin-left: 16px;
}

.timeline-card:before {
    content: '';
    display: inline-block;
    position: absolute;
    background-color: #fff;
    border-radius: 100%;
    width: 24px;
    height: 24px;
    top: 16px;
    left: -12px;
    border: 5px solid;
    z-index: 2;
    border-color: #0d6efd;
}

.timeline-card:before {
    box-sizing: border-box;
}
.timeline-card-success:before {
    border-color: #20c997;
}
.timeline-body {
    border-left: 2px solid #E6E9ED;
}

.text-teal {
    color: #20c997;
  }

@media (max-width: 767px){
.portfolio-reverse {
    flex-direction: column-reverse;
}
}
.g-0, .gy-0 {
    --bs-gutter-y: 0;
}
.g-0, .gx-0 {
    --bs-gutter-x: 0;
}
.anot{
    color: inherit;
    border-bottom: 1px dashed;
    text-decoration: none;
    cursor: pointer;
}
#footer {
    height: 50px;  
    padding: auto; 
   
  }